{{extend 'layout.html'}}
<table>
    <tr>
        <td>
            <a class="btn btn-default"
             href="{{=URL('create')}}">Create</a>
        </td>
        <td>
                   <a class="btn btn-default"
                    href="{{=URL('myblog')}}">My Published Blogs</a>
        </td>
    </tr>
</table>
</br>
</br>
<h1><i>Make It Awesome</i></h1> 
</br>
</br>
{{=form}}
</br>
</br>
<table>
    <tr>
        <td>
            <a class="btn btn-default"
             href="{{=URL('create')}}">Create</a>
        </td>
        <td>
                   <a class="btn btn-default"
                    href="{{=URL('myblog')}}">My Published Blogs</a>
        </td>
    </tr>
</table>
</br>
</br>
