{{extend 'layout.html'}}
<h1 style="text-align:center"> <i>Upload Image</i> </h1>
<table>
    <tr>
        <td>
            <a class="btn btn-default"
     href="{{=URL('drawNewImage')}}">Draw Image</a>
        </td>
        <td>
            <a class="btn btn-default"
     href="{{=URL('myImages')}}">My Images</a>
        </td>
    </tr>
</table>
</br>
</br>
{{=form}}
</br>
</br>
<table>
    <tr>
        <td>
            <a class="btn btn-default"
     href="{{=URL('drawNewImage')}}">Draw Image</a>
        </td>
        <td>
            <a class="btn btn-default"
     href="{{=URL('myImages')}}">My Images</a>
        </td>
    </tr>
</table>
